@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap%27");
@import "reset";
@import "variables";

body{
  background: $color-primary;
  padding: 0 10px;
}

.appname {
  color: $white;
  text-align: center;
  margin-top: 30px;
  font-family: "Pattaya", sans-serif;
  font-size: 50px;
  font-weight: lighter;
}

.wrapper {
  max-width: 500px;
  width: 100%;
  background: $white;
  margin: 20px auto;
  padding: 30px;
  border-radius: 20px;

  .title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: $color-primary;
    margin-bottom: 25px;
    text-transform: uppercase;
  }

  .form {
    width: 100%;

    %form-input {
      margin-bottom: 15px;
      display: flex;
      align-items: center;
    }
    .input_field {
      @extend %form-input;

      .form_label {
        width: 150px;
        color: $color-primary;
        margin-right: 10px;
        font-size: 15px;
        font-weight: bold;

        @media (max-width: 420px) {
          margin-bottom: 5px;
        }
      }

      @mixin test {
        width: 100%;
        outline: none;
        border-radius: 5px;
        padding: 8px 10px;
        border: 1px solid silver;
      }

      %fields {
        @include test;
        font-size: 15px;
        transition: all 0.3s ease;
      }

      %focus {
        &:focus {
          border: 2px solid $color-primary;
        }
      }

      .input {
        @extend %fields;
        @extend %focus;
      }

      .textarea {
        @extend %fields;
        @extend %focus;
        resize: none;
        height: 125px;
      }

      .gender_select {
        position: relative;
        width: 100%;
        height: 35px;

        select {
          @include test;
          @extend %focus;
          -webkit-appearance: none;
          appearance: none;
          height: 100%;
        }

        &:before {
          content: "";
          position: absolute;
          top: 12px;
          right: 10px;
          border: 8px solid;
          border-color: silver transparent transparent transparent;
          pointer-events: none;
        }
      }

      .regis_btn {
        width: 100%;
        padding: 8px 10px;
        font-size: 15px;
        border: 0;
        background: $color-primary;
        color: $white;
        cursor: pointer;
        border-radius: 5px;
        outline: none;

        &:hover {
          background: cornflowerblue;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
      @media (max-width: 420px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}
